.btn {
    width: 300px;
    height: 55px;
    border: 1px solid #777;
    border-radius: 25px / 5px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    user-select: none;
}

.btn:hover {
    background-color: #eee;
}

.btn:active {
    border: 2px solid #999;
}